.about {
	padding-top: 75px;
	background: #fff
}

.about .h2 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	color: #000
}

.about-info {
	max-width: 1054px;
	margin: 0 auto 120px
}

.about-info .h2 {
	margin-bottom: 10px
}

.about-info p {
	margin-bottom: 22px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px
}

.mission .h2 {
	margin-bottom: 20px
}

.mission-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-weight: 300;
	font-size: 16px
}

.mission-text {
	max-width: 432px
}

.mission-text p {
	line-height: 24px
}

.mission-quote {
	position: relative;
	width: 564px;
	height: 331px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 50px 35px 57px;
	background: url(../img/quote-bg.png) no-repeat;
	background-size: cover
}

.mission-quote .btn-arrow {
	position: absolute;
	right: 15px;
	top: 38%;
	-webkit-filter: drop-shadow(0 5px 19px rgba(237, 25, 64, .4));
	filter: drop-shadow(0 5px 19px rgba(237, 25, 64, .4))
}

.mission-slider {
	max-width: 100%
}

.mission-slider__item {
	margin: 0 auto
}

.mission-slider__item p {
	margin: 0 auto;
	max-width: 427px;
	line-height: 24px
}

.btn-arrow {
	width: 38px;
	height: 38px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	outline: 0;
	border: 0;
	padding: 0;
	background: #ed1940;
	border-radius: 50%
}

.btn-arrow:hover {
	opacity: 1;
	background: #313033
}

.angle {
	display: inline-block;
	width: 10px;
	height: 7px
}

.angle-up {
	background: url(../img/angle-up.svg) no-repeat
}

.angle-down {
	background: url(../img/angle-down.svg) no-repeat
}

.angle-left {
	height: 10px;
	width: 7px;
	background: url(../img/angle-left.svg) no-repeat
}

.angle-right {
	height: 10px;
	width: 7px;
	background: url(../img/angle-right.svg) no-repeat
}

.map-company__line {
	height: 3px;
	background: -webkit-gradient(linear, right top, left top, color-stop(-1.21%, #ed1940), color-stop(103.26%, rgba(237, 25, 64, 0)));
	background: -o-linear-gradient(right, #ed1940 -1.21%, rgba(237, 25, 64, 0) 103.26%);
	background: linear-gradient(270deg, #ed1940 -1.21%, rgba(237, 25, 64, 0) 103.26%)
}

.map-company .h2 {
	margin-bottom: 30px
}

.map-slider {
	position: relative;
	top: -12px;
	margin-left: -35px;
	margin-right: -35px
}

.map-slider__wrap {
	margin-bottom: 100px
}

.map-slider__item {
	position: relative;
	margin-left: 35px;
	margin-right: 35px
}

.map-slider__item:before {
	content: '';
	position: absolute;
	right: -22px;
	bottom: 15%;
	border: 8px solid transparent;
	border-left: 16px solid #f6f6f6
}

.map-slider__year {
	position: relative;
	padding-top: 30px;
	margin-bottom: 20px;
	text-align: center
}

.map-slider__year:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	width: 20px;
	height: 26px;
	background: url(../img/place-ic.svg) no-repeat
}

.map-slider__year span {
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 22px;
	line-height: 33px;
	color: #000
}

.map-slider__info {
	padding: 22px;
	background: #f6f6f6;
	border-radius: 2px
}

.map-slider__info--img {
	width: 50px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.map-slider__info p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #696969
}

.map-slider__btn {
	text-align: center
}

.map-slider__btn .btn-arrow {
	margin-left: 10px;
	margin-right: 10px
}

.partners {
	padding: 28px 0 55px;
	background: #f6f6f6
}

.partners .h2 {
	margin-bottom: 16px
}

.partners-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.partners-text {
	max-width: 440px
}

.partners-text p {
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300
}

.partners-slider {
	width: 590px;
	margin-left: -10px;
	margin-right: -10px
}

.partners-slider__item {
	position: relative;
	min-height: 284px;
	margin-left: 10px;
	margin-right: 10px;
	background: #fff
}

.partners-slider__item--overlay {
	opacity: 1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 10px;
	background: #000b20;
	z-index: 10;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.partners-slider__item--text {
	padding: 25px 30px 18px
}

.partners-slider__item--text p {
	height: 196px;
	margin-bottom: 12px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	overflow: hidden
}

.partners-slider__item--text>a {
	position: relative;
	display: inline-block;
	padding-right: 18px;
	color: #ed1940;
	font-size: 18px;
	line-height: 27px
}

.partners-slider__item--text>a:before {
	content: '';
	position: absolute;
	right: 0;
	top: 8px;
	width: 12px;
	height: 12px;
	background: url(../img/arrow-right-red.svg)
}

.partners-slider__item:hover .partners-slider__item--overlay {
	opacity: 0;
	z-index: -1
}

.partners-slider .slick-arrow {
	width: 38px;
	height: 38px;
	outline: 0;
	border: 0;
	padding: 0;
	background: #ed1940;
	border-radius: 50%
}

.partners-slider .slick-arrow:hover {
	opacity: 1;
	background: #313033
}

.partners-slider .slick-arrow:before {
	display: none
}

.partners-slider .slick-prev {
	left: -45px;
	background-image: url(../img/angle-left.svg);
	background-position: center;
	background-repeat: no-repeat
}

.partners-slider .slick-prev:hover {
	background-image: url(../img/angle-left.svg);
	background-position: center;
	background-repeat: no-repeat
}

.partners-slider .slick-next {
	right: -45px;
	background-image: url(../img/angle-right.svg);
	background-position: center;
	background-repeat: no-repeat
}

.partners-slider .slick-next:hover {
	background-image: url(../img/angle-right.svg);
	background-position: center;
	background-repeat: no-repeat
}

.team {
	padding: 30px 0 50px;
	margin-bottom: 120px;
	background: #000b20
}

.team .h2 {
	margin-bottom: 16px;
	color: #fff
}

.team-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.team-text {
	max-width: 600px
}

.team-text p {
	margin-bottom: 40px;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px
}

.team-link {
	position: relative;
	display: inline-block;
	padding-right: 18px;
	color: #ed1940;
	font-size: 18px;
	line-height: 27px
}

.team-link:before {
	content: '';
	position: absolute;
	right: 0;
	top: 8px;
	width: 12px;
	height: 12px;
	background: url(../img/arrow-right-red.svg);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.team-link:focus,
.team-link:hover {
	opacity: 1;
	color: #ed1940
}

.team-link:focus:before,
.team-link:hover:before {
	right: -2px
}

.team-form {
	max-width: 498px;
	width: 100%;
	padding: 47px 52px 60px;
	background: #fff
}

.team-form ::-webkit-input-placeholder {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #696969
}

.team-form .form-item {
	margin-bottom: 16px
}

.team-form .form-item__header {
	margin-bottom: 6px;
	color: #696969;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px
}

.team-form .form-item__field {
	padding: 0 24px;
	height: 54px;
	line-height: 54px;
	background: #f6f6f6;
	border: 0
}

.team-form .privacy {
	padding: 20px 0 16px;
	color: #696969;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px
}

.team-form .btn {
	height: 60px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #e1e1e1;
	border-radius: 2px;
	outline: 0;
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: .04em
}

.team-form .btn:focus,
.team-form .btn:hover {
	background: #ed1940;
	opacity: 1
}

.icon-plus {
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url(../img/plus-ic.svg) no-repeat
}

.add-btn {
	width: 62px;
	height: 62px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #f6f6f6;
	border-radius: 50%
}

.handling {
	margin-bottom: 60px
}

.handling-item {
	position: relative;
	height: 220px;
	margin-bottom: 30px;
	background: #fff;
	border-radius: 2px;
	-webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, .11);
	box-shadow: 0 4px 7px rgba(0, 0, 0, .11);
	border-bottom: 2px solid #ed1940
}

.handling-item__img {
	position: relative
}

.handling-item__image img {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.handling-item__icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 36px;
	height: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	background: #fff;
	z-index: 10
}

.handling-item__info {
	padding: 9px 18px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.handling-item__info strong {
	font-size: 16px;
	line-height: 24px
}

.handling-item__info--more {
	display: none;
	font-size: 14px;
	line-height: 21px;
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
	color: #6ba0ff
}

.handling-item__info--more:hover {
	opacity: 1;
	color: #fff
}

.handling-item__add {
	height: 110px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.handling-item__add+.handling-item__info strong {
	font-size: 15px
}

.handling-item:not(.handling-item__plus):hover {
	border: 0
}

.handling-item:not(.handling-item__plus):hover .handling-item__image img {
	height: 220px;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.handling-item:not(.handling-item__plus):hover .handling-item__info {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 50px;
	background: rgba(0, 11, 32, .85)
}

.handling-item:not(.handling-item__plus):hover .handling-item__info strong {
	display: block;
	height: 110px;
	color: #fff
}

.handling-item:not(.handling-item__plus):hover .handling-item__info--more {
	display: block
}

.success {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.success-left {
	max-width: 450px
}

.success-right {
	position: relative;
	max-width: 430px;
	padding: 22px 25px;
	background: #f6f6f6;
	border-radius: 2px
}

.success-right:before {
	content: '';
	position: absolute;
	left: -45px;
	bottom: 60%;
	border: 20px solid transparent;
	border-right: 30px solid #f6f6f6
}

.success-right p {
	margin-bottom: 0
}

.success-header {
	margin-bottom: 7px;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	color: #ed1940
}

.success-list {
	list-style: none
}

.success-list li {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px
}

.success-list li:before {
	content: '—';
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	color: #ed1940
}

.reviews {
	max-width: 1140px;
	margin: 0 auto
}

.reviews .h2 {
	margin-bottom: 26px
}

.reviews-slider {
	margin-bottom: 100px
}

.reviews-slider__item {
	min-height: 574px;
	padding: 50px 100px 50px 65px;
	background: url(../img/reviews-bg.png) no-repeat;
	background-size: cover
}

.reviews-slider__wrap {
	position: relative
}

.reviews-slider .h3 {
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 34px
}

.reviews-slider__btn {
	position: absolute;
	width: 38px;
	right: 15px;
	top: 0;
	bottom: 0;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.reviews-slider__btn .btn-arrow {
	background: #313033
}

.reviews-slider__btn .btn-arrow:first-child {
	margin-bottom: 20px
}

.reviews-slider__btn .btn-arrow:hover {
	background: #ed1940
}

.reviews-slider__links {
	list-style: none
}

.reviews-slider__links li a {
	position: relative;
	padding-right: 18px;
	font-size: 16px;
	line-height: 24px;
	color: #6ba0ff
}

.reviews-slider__links li a:before {
	content: '';
	position: absolute;
	right: 0;
	top: 4px;
	width: 12px;
	height: 12px;
	background: url(../img/arrow-right-blue.svg);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.reviews-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.reviews-text {
	position: relative;
	max-width: 630px;
	height: 100%;
	padding: 35px 30px 20px;
	background: #fcfcfc;
	border-radius: 14px
}

.reviews-text:before {
	content: '';
	position: absolute;
	left: -21px;
	top: -8px;
	width: 49px;
	height: 35px;
	background: url(../img/brackets.svg)
}

.reviews-text p {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #696969
}

.reviews-text__author {
	margin-top: 30px;
	padding-top: 18px;
	border-top: 1px solid #696969;
	text-align: right
}

.reviews-text__author span {
	display: block;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px
}

.reviews-info {
	width: 230px
}

.reviews-info__item {
	position: relative;
	padding-bottom: 20px;
	text-align: right
}

.reviews-info__item:first-child:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: -webkit-gradient(linear, right top, left top, color-stop(-1.21%, #ed1940), color-stop(103.26%, rgba(237, 25, 64, 0)));
	background: -o-linear-gradient(right, #ed1940 -1.21%, rgba(237, 25, 64, 0) 103.26%);
	background: linear-gradient(270deg, #ed1940 -1.21%, rgba(237, 25, 64, 0) 103.26%)
}

.reviews-info__item:last-child {
	padding-top: 30px;
	padding-bottom: 0
}

.reviews-info__numbers {
	font-size: 72px;
	line-height: 76px;
	font-weight: 700;
	color: #ed1940;
	font-family: Ubuntu;
	text-align: right
}

.reviews-info__numbers span {
	display: inline-block
}

.reviews-info__angle {
	font-size: 40px;
	line-height: 76px;
	vertical-align: middle
}

.reviews-info__time {
	font-size: 40px;
	line-height: 76px
}

.reviews-info__plus {
	font-size: 40px;
	line-height: 50px;
	vertical-align: top
}

.reviews-info__text {
	display: inline-block;
	text-align: left;
	height: 43px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px
}

.features {
	max-width: 1250px;
	margin: 0 auto 110px
}

.features .h2 {
	margin-bottom: 30px
}

.features-slider {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 40px
}

.features-slider .slick-list {
	padding-bottom: 8px
}

.features-slider__btn {
	text-align: center
}

.features-slider__btn .btn-arrow {
	margin: 0 10px;
	background: #313033
}

.features-slider__btn .btn-arrow:focus,
.features-slider__btn .btn-arrow:hover {
	background: #ed1940
}

.features-item {
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 2px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.features-item:hover {
	-webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, .11);
	box-shadow: 0 4px 7px rgba(0, 0, 0, .11)
}

.features-item:hover .features-item__img img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-filter: grayscale(0);
	filter: grayscale(0)
}

.features-item__img {
	margin-bottom: 10px;
	overflow: hidden
}

.features-item__img img {
	display: block;
	border-radius: 2px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	-webkit-filter: grayscale(1);
	filter: grayscale(1)
}

.features-item__info {
	padding: 0 20px 12px;
	text-align: center
}

.features-item__header {
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 5px;
	overflow: hidden;
	font-size: 18px;
	text-align: left;
	line-height: 23px;
	text-transform: uppercase;
	color: #000b20;
	border-bottom: 1px solid #f6f6f6
}

.features-item__header a {
	color: #000b20
}

.features-item__list {
	position: relative;
	height: 110px;
	overflow: hidden;
	padding-top: 5px;
	margin-bottom: 7px;
	list-style: none;
	text-align: left
}

.features-item__list:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2px;
	width: 100%;
	height: 22px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(52.6%, rgba(255, 255, 255, .68)), color-stop(72.92%, #fff));
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .68) 52.6%, #fff 72.92%);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .68) 52.6%, #fff 72.92%)
}

.features-item__list li {
	position: relative;
	padding-left: 10px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	color: #1f1f1f
}

.features-item__list li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 8px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #ed1940
}

.features-item__more {
	position: relative;
	display: inline-block;
	padding-right: 18px;
	color: #ed1940;
	font-size: 18px;
	line-height: 27px
}

.features-item__more:before {
	content: '';
	position: absolute;
	right: 0;
	top: 8px;
	width: 12px;
	height: 12px;
	background: url(../img/arrow-right-red.svg);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.features-item__more:focus,
.features-item__more:hover {
	opacity: 1;
	color: #ed1940
}

.features-item__more:focus:before,
.features-item__more:hover:before {
	right: -2px
}

.information {
	margin-bottom: 110px
}

.information .h2 {
	margin-bottom: 30px
}

.information-slider {
	margin-bottom: 40px;
	margin-left: -15px;
	margin-right: -15px
}

.information-slider__btn {
	text-align: center
}

.information-slider__btn .btn-arrow {
	margin: 0 10px;
	background: #313033
}

.information-slider__btn .btn-arrow:focus,
.information-slider__btn .btn-arrow:hover {
	background: #ed1940
}

.information-item {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-left: 15px;
	margin-right: 15px
}

.information-item__img {
	width: 240px
}

.information-item__text {
	width: calc(100% - 240px);
	padding: 20px 25px;
	background: #f6f6f6
}

.information-item__text p {
	height: 160px;
	overflow: hidden;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px
}

.information-item__tag {
	display: inline-block;
	margin-bottom: 25px;
	padding: 9px 17px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	background: rgba(255, 255, 255, .85);
	border-radius: 50px;
	color: #ed1940
}

.information-item__header {
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase
}

.information-item__more {
	position: relative;
	display: inline-block;
	padding-right: 18px;
	color: #ed1940;
	font-size: 18px;
	line-height: 27px
}

.information-item__more:before {
	content: '';
	position: absolute;
	right: 0;
	top: 8px;
	width: 12px;
	height: 12px;
	background: url(../img/arrow-right-red.svg);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.information-item__more:focus,
.information-item__more:hover {
	opacity: 1;
	color: #ed1940
}

.information-item__more:focus:before,
.information-item__more:hover:before {
	right: -2px
}

@media only screen and (max-width:1600px) {
	.partners-slider .slick-next {
		right: -35px
	}
	.partners-slider .slick-prev {
		left: -35px
	}
}

@media only screen and (max-width:1199px) {
	.partners {
		text-align: center
	}
	.partners-wrap {
		display: block
	}
	.partners-slider {
		margin: 0 auto 0
	}
	.partners-text {
		margin: 0 auto 30px
	}
	.mission-text {
		max-width: 394px
	}
	.team-text {
		max-width: 440px
	}
	.handling.row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.handling-item {
		height: auto
	}
	.handling-item__image img {
		width: 100%
	}
	.reviews-slider__item {
		background: #f6f6f6
	}
	.reviews-slider__links {
		padding-top: 20px
	}
}

@media only screen and (max-width:1079px) {
	.reviews-info {
		width: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-top: 30px
	}
	.reviews-info__item:first-child {
		padding-right: 30px
	}
	.reviews-info__item:first-child:before {
		display: none
	}
	.reviews-info__item:last-child {
		padding-top: 0
	}
}

@media only screen and (max-width:991px) {
	.mission {
		text-align: center
	}
	.mission-wrap {
		display: block
	}
	.mission-text {
		max-width: none;
		margin-bottom: 30px
	}
	.mission-quote {
		margin: 0 auto
	}
	.team {
		text-align: center
	}
	.team-wrap {
		display: block
	}
	.team-text {
		max-width: none;
		padding-bottom: 30px
	}
	.team-form {
		margin: 0 auto
	}
	.success {
		display: block;
		text-align: center
	}
	.success-left {
		max-width: none;
		margin-bottom: 40px
	}
	.success-right {
		max-width: none
	}
	.success-right:before {
		border-right: none;
		border-bottom: 30px solid #f6f6f6;
		left: 50%;
		bottom: auto;
		top: -42px
	}
}

@media only screen and (max-width:768px) {
	.mission {
		margin-bottom: 30px
	}
	.mission-quote {
		width: auto;
		height: auto;
		background: #f6f6f6
	}
	.mission-quote .btn-arrow {
		left: 0;
		right: 0;
		margin: auto;
		top: auto;
		bottom: 10px
	}
	.partners-slider {
		width: auto;
		padding-left: 45px;
		padding-right: 45px
	}
	.partners-slider .slick-prev {
		left: 0
	}
	.partners-slider .slick-next {
		right: 0
	}
	.about {
		padding-top: 50px
	}
	.about .h2 {
		text-align: center;
		font-size: 32px;
		line-height: 40px
	}
	.about-info {
		margin-bottom: 70px
	}
	.map-slider__wrap {
		margin-bottom: 60px
	}
	.team-form {
		padding: 30px
	}
	.reviews-slider {
		margin-bottom: 70px
	}
	.reviews-info {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	.handling.row {
		display: block
	}
}

@media only screen and (max-width:550px) {
	.reviews-slider {
		margin-bottom: 20px
	}
	.reviews-slider__wrap {
		margin-bottom: 70px
	}
	.reviews-slider__item {
		min-height: auto;
		padding: 30px 20px
	}
	.reviews-slider__btn {
		position: static
	}
	.reviews-slider__prev .angle-up {
		width: 7px;
		height: 10px;
		background: url(../img/angle-left.svg) no-repeat
	}
	.reviews-slider__next .angle-down {
		width: 7px;
		height: 10px;
		background: url(../img/angle-right.svg) no-repeat
	}
	.reviews-slider .h3 {
		font-size: 24px;
		line-height: 30px;
		text-align: center
	}
	.reviews-slider .h3 br {
		display: none
	}
	.reviews-slider__btn {
		width: auto;
		text-align: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
	.reviews-slider__btn .btn-arrow {
		margin: 0 10px
	}
	.reviews-slider__btn .btn-arrow:first-child {
		margin-bottom: 0
	}
	.reviews-text:before {
		display: none
	}
	.reviews-info {
		width: 100%;
		padding-top: 20px
	}
	.reviews-info__item {
		text-align: center
	}
	.reviews-info__numbers {
		text-align: center
	}
	.information-item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}
	.information-item__img {
		width: auto
	}
	.information-item__img img {
		width: 100%
	}
	.information-item__text {
		width: auto
	}
}