// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: Roboto, sans-serif
  font-weight: normal
  font-size: 14px
  color: #000
  background: #F8F8FA

h1, .h1
  font-family: Ubuntu
  font-size: 50px
  line-height: 56px


h2,.h2
  font-family: Ubuntu
  font-size: 50px
  line-height: 60px
  color: #242324
  letter-spacing: 0.02em


h3,.h3
  font-size: 35px
  line-height: 39px
  font-family: Ubuntu
  letter-spacing: 0.02em

  
h4, .h4
  font-family: Ubuntu
  font-size: 24px
  line-height: 24px
  color: #777777
  letter-spacing: 0.02em  
  

h5, .h5
  font-size: 18px
  line-height: 23px
  color: #000

h6, .h6
  font-size: 12px
  line-height: 14px
  color: #000
  font-weight: bold

p
  line-height: 18px

a
  color: #000
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


*::-webkit-input-placeholder 
  color: #A1A1A1
  font-size: 14px
  font-weight: 300
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease

*:-moz-placeholder 
  color: #A1A1A1
  font-size: 14px
  font-weight: 300
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*::-moz-placeholder 
  color: #A1A1A1
  font-size: 14px
  font-weight: 300
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*:-ms-input-placeholder 
  color: #A1A1A1
  font-size: 14px
  font-weight: 300
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


.container
  width: auto
  max-width: 1274px
  padding-left: 15px
  padding-right: 15px
  margin: 0 auto

.content
  overflow: hidden
