@font-face
  font-family: 'Ubuntu'
  src: url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format("woff2"), url('../fonts/Ubuntu/Ubuntu-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Ubuntu'
  src: url('../fonts/Ubuntu/Ubuntu-Medium.woff2') format("woff2"), url('../fonts/Ubuntu/Ubuntu-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Regular.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Light.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Bold.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Medium.woff2') format("woff2"), url('../fonts/Roboto/Roboto-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0')
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?o5wjt0') format("truetype"), url('../fonts/icomoon/icomoon.woff?o5wjt0') format("woff"), url('../fonts/icomoon/icomoon.svg?o5wjt0#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-wrench:before
  content: "\e900"
  color: #6ba0ff

.icon-diagram:before
  content: "\e901"
  color: #6ba0ff

.icon-door:before
  content: "\e902"
  color: #6ba0ff

.icon-users:before
  content: "\e904"
  color: #6ba0ff

.icon-cross-ic:before
  content: "\e903"
  color: #9b9b9b

.icon-login-ic:before
  content: "\e906"
  color: #fff

.icon-mail-ic:before
  content: "\e907"
  color: #fff

.icon-next-ic:before
  content: "\e908"
  color: #6ba0ff

.icon-phone-ic:before
  content: "\e90a"
  color: #fff

.icon-prev-ic:before
  content: "\e90b"
  color: #6ba0ff

.icon-time:before
  content: "\e902"
  color: #6ba0ff