@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	padding: 32px 0 28px
	background: #000B20
	color: #fff
	overflow: hidden
	

	&-top
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 32px

	&-logo
		display: flex
		align-items: center

		span
			padding-left: 25px
			font-size: 10px
			line-height: 12px
			color: #F3F3F3

	&-tel
		padding-right: 45px
		color: #F3F3F3
		font-size: 18px

	&-nav
		display: flex
		align-items: center
		justify-content: space-between

		&__right

			ul
				display: flex
				align-items: center
				list-style: none

				li
					margin-left: 40px

					a
						display: flex
						align-items: center
						color: #fff

						span
							padding-left: 6px
							font-size: 18px
							line-height: 20px

	&-banner
		position: relative
		padding: 50px 0 90px


		&__wrap
			max-width: 500px

		&__title
			margin-bottom: 25px
			font-size: 35px
			color: #fff
			letter-spacing: 0.01em
			line-height: 39px

		&__list
			margin-bottom: 45px
			list-style: none

			li
				position: relative
				padding: 0 0 0 15px
				font-size: 20px
				line-height: 28px
				letter-spacing: 0.02em
				font-weight: 300

				&:before
					content: ''
					position: absolute
					left: 0
					top: 14px
					width: 3px
					height: 3px
					border-radius: 50%
					background: $red

		&__img
			position: absolute
			right: -220px
			top: 30px

		&__numbers
			display: flex
			align-items: center
			margin-bottom: 50px

			&--item
				margin-right: 40px
				text-align: center

				strong
					display: block
					font-weight: 500
					color: $red
					letter-spacing: 0.02em
					font-size: 40px
					line-height: 46px
					font-family: Ubuntu

				span
					font-size: 18px
					line-height: 21px
					font-weight: 300


.main-menu
	list-style: none
	display: flex
	align-items: center

	li
		display: inline-block
		margin-right: 30px

		&:last-child
			margin-right: 0

		a
			font-size: 18px
			color: #fff

	



.btn
	display: inline-block
	padding: 14px 20px
	background: $red
	font-size: 16px
	line-height: 19px
	color: #fff
	text-align: center

	&-red

		&:hover, &:focus
			color: #fff

	&-blue
		padding: 20px 15px
		font-size: 16px
		line-height: 14px
		color: #fff
		background: $blue
		border: 2px solid transparent

		&:hover, &:focus
			color: #fff

		&__transparent
			background: transparent
			border: 2px solid $blue
			border: 1.5px solid #6BA0FF
			box-sizing: border-box
			box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1)
			border-radius: 2px
			color: $blue

			&:hover, &:focus
				opacity: 1
				color: #fff
				background: $blue


	&-white
		padding: 19px 35px
		background: #fff
		font-size: 16px
		line-height: 23px
		color: $blue

		&__transparent
			padding: 18px 50px
			border: 1px solid #FFFFFF
			border-radius: 2px
			font-size: 18px
			line-height: 20px
			letter-spacing: 0.04em
			background-color: transparent

			&:hover, &:focus
				color: $blue
				background: #fff
				opacity: 1

	&-green
		padding: 19px 35px
		background: #8DC26F
		font-size: 16px
		line-height: 23px
		color: #fff
		border: 0
		outline: 0


.icon
	position: relative
	display: inline-block
	vertical-align: middle

	&-lens
		width: 22px
		height: 22px
		background: url(../img/lens-ic.svg) no-repeat

	&-doc
		width: 22px
		height: 25px
		background: url(../img/doc-ic.svg) no-repeat

	&-login
		width: 22px
		height: 25px
		background: url(../img/login-ic.svg) no-repeat

	&-wrench
		width: 30px
		height: 30px
		background: url(../img/wrench-ic.svg) no-repeat
		background-size: contain

	&-users
		width: 30px
		height: 30px
		background: url(../img/users-ic.svg) no-repeat
		background-size: contain

	&-clock
		width: 30px
		height: 30px
		background: url(../img/clock-ic.svg) no-repeat
		background-size: contain

	&-double-left
		width: 48px
		height: 48px
		background: url(../img/double-arrow-left.svg) no-repeat

	&-double-right
		width: 48px
		height: 48px
		background: url(../img/double-arrow-right.svg) no-repeat


.section
	padding: 100px 0 80px
	

	.h2
		margin-bottom: 70px
		text-align: center

		&+.h4
			margin-bottom: 70px
			text-align: center

	&-inner
		padding: 120px 0 0

		.h1, h1
			margin-bottom: 60px
			text-align: center

		&+.check-documents
			margin-top: 15px

	&-opportunity

		p
			font-size: 18px

		
		.h3
			margin-bottom: 10px
			font-size: 36px
			line-height: 40px

			&+p
				margin-bottom: 50px
				font-size: 18px
				line-height: 23px

		.h4
			margin-bottom: 48px
			line-height: 28px
			color: #000

		.h5
			font-weight: bold
			color: $red

		.color-black
			color: #000

		.container
			padding-left: 350px

		&.bg-blue
			padding: 70px 0
			background: #F8F8FA

			.h4
				margin-bottom: 56px
				color: #000
				line-height: 28px







.row-flex
	display: flex
	flex-wrap: wrap


.service

	.h2
		margin-bottom: 24px

	&-item
		
		&__icon
			display: none


		.row
			margin-left: -10px
			margin-right: -10px

			[class^='col']
				padding-left: 10px
				padding-right: 10px
				margin-bottom: 20px

		&__block
			position: relative
			height: 100%
			min-height: 400px
			box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1)
			border-radius: 2px
			background: #fff
			overflow: hidden

			&:hover
				.service-item__block--text
					height: auto
					top: 0

					p
						height: auto

						&:before
							display: none


			&--text
				position: absolute
				left: 0
				right: 0
				bottom: 0
				top: 198px
				padding: 30px 20px 20px
				background: #fff
				z-index: 10
				transition: all .3s

				.h4
					min-height: 43px
					margin-bottom: 10px
					color: #6BA0FF

				p
					height: 90px
					margin-bottom: 10px
					overflow: hidden
					text-overflow: ellipsis
					font-weight: 300

			&--more
				display: inline-block
				font-size: 20px
				line-height: 23px
				color: $blue

	&.opportunities
		padding-bottom: 0

			


	&-arrows
		display: flex
		justify-content: center
		align-items: center

	&-arrow
		position: relative
		top: 2px
		cursor: pointer
		font-size: 20px

	&-dots
		padding: 0 10px

		&__list
			list-style: none

			li
				display: inline-block
				margin: 0 3px
				font-size: 0
				width: 10px
				height: 10px
				vertical-align: middle
				border-radius: 50%
				background: #C2D8FF
				cursor: pointer

				&.slick-active
					width: 13px
					height: 13px
					border: 2px solid $blue
					background-color: transparent

	&-more
		text-align: center

		.service-item__block--text
			top: 170px
			height: 230px
			padding-top: 20px
			padding-bottom: 10px
			margin-bottom: 10px
			text-align: left
			overflow: hidden

			p
				position: relative

				&:before
					content: ''
					position: absolute
					bottom: 0
					left: 0
					right: 0
					height: 40px
					background: linear-gradient(to bottom, rgba(255,255,255,.1) 0%, rgba(255,255,255,0.9) 100%)

			.h4
				font-size: 20px
				text-align: left



.advantages
	background: #fff

	.h2
		color: $blue

	&-item
		display: flex
		align-items: center
		margin-bottom: 80px

		&__number
			width: 120px
			font-size: 80px
			line-height: 80px
			color: #C4D9FF
			font-weight: 500

		&__text
			width: calc(100% - 120px)
			font-size: 20px
			line-height: 24px
			font-weight: 300

	&-btn
		margin-bottom: 30px
		display: flex
		align-items: center
		justify-content: center

		.btn
			margin: 0 5px
			min-width: 246px

	&-bottom
		text-align: center

		p
			font-weight: 300
			color: #A1A1A1

.pdf
	display: flex
	align-items: center
	padding: 35px 110px
	margin-bottom: 100px
	background: $blue

	&-text
		position: relative
		width: calc(100% - 200px)
		padding-left: 100px
		font-family: Ubuntu
		font-size: 24px
		line-height: 24px
		font-weight: 500
		color: #fff

		&:before
			content: ''
			position: absolute
			left: 0
			top: -5px
			width: 50px
			height: 62px
			background: url(../img/pdf-ic.svg)

	&+.h2
		margin-bottom: 70px


			
.practice

	&-slider

		&__item
			position: relative
			margin: 0 10px
			border-radius: 2px

			&--overlay
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				padding: 50px 0 30px
				display: flex
				flex-direction: column
				justify-content: space-between
				background: linear-gradient(360deg, #000B20 14.18%, rgba(0, 0, 0, 0) 100%)

			&--tag
				display: inline-block
				padding: 8px 20px
				font-size: 18px
				line-height: 18px
				color: #fff
				letter-spacing: 0.5px
				background: #ED1940
				border-radius: 2px 0px 0px 0px
				text-align: center
				max-width: 106px

				&:hover
					color: #fff

			&--bottom
				padding: 0 20px
				text-align: center

				p
					margin-bottom: 20px
					font-family: Ubuntu
					font-weight: 500
					font-size: 22px
					line-height: 22px
					color: #fff
					text-align: left

			&--more
				font-weight: 500
				font-size: 20px
				line-height: 120%
				text-align: center
				letter-spacing: 0.04em
				color: #6BA0FF

				&:hover
					color: #fff
					opacity: 1

		&__btn
			padding-top: 40px
			text-align: center

			.btn
				padding-left: 32px
				padding-right: 32px
				font-family: Ubuntu
				border-radius: 2px


.business
	background: rgba(1, 11, 32, 0.94)

	&-wrap

	&-item

		&__icon
			margin-bottom: 15px

		.h3
			margin-bottom: 20px
			color: #fff

		ul
			list-style: none
			
			li
				position: relative
				max-width: 480px
				padding-left: 20px
				margin-bottom: 10px
				font-size: 18px
				line-height: 22px
				color: #fff

				&:before
					content: ''
					position: absolute
					left: 0
					top: 8px
					width: 3px
					height: 3px
					border-radius: 50%
					background-color: #fff

	.h2
		color: #fff
	&-btn
		padding: 40px 0 0
		text-align: center

		.btn
			background: #6BA0FF
			box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1)
			border-radius: 2px



.integration

	&-wrap
		&.row
			margin-left: -10px
			margin-right: -10px

			[class^='col']
				padding-left: 10px
				padding-right: 10px

	&-item
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 20px
		height: 140px
		background: #fff
		border-radius: 2px


	&-btn
		padding-top: 40px
		text-align: center

		.btn
			padding: 14px 15px
			min-width: 230px
			background: #6BA0FF


.product
	position: relative
	padding: 0
	margin-bottom: 50px

	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 50px
		bottom: 50px
		background: #010B20


	&-slider
		position: relative
		max-width: 900px
		margin: 0 auto

		&__item
			display: flex

			&--img
				max-width: 302px
				


			&--text
				width: calc(100% - 302px)
				padding-left: 110px
				padding-top: 90px
				padding-bottom: 100px
				color: #fff

				>img
					display: block
					margin-bottom: 24px

				.h3
					margin-bottom: 20px
					font-size: 35px
					color: #fff

				p
					font-size: 18px
					line-height: 22px
					letter-spacing: 0.02em

	.slick-arrow

		&:before
			font-size: 30px
			color: #fff
			font-family: icomoon

	.slick-prev
		left: -200px
		&:before
			content: "\e90b"
			opacity: 1

	.slick-next
		right: -200px

		&:before
			content: "\e908"
			opacity: 1




.product-slider__item.slick-slide
	display: flex
	flex-wrap: wrap		


.slick-dots

	li
		display: inline-block
		margin: 0 4px
		font-size: 0
		width: 10px
		height: 10px
		vertical-align: middle
		border-radius: 50%
		background: #C2D8FF
		cursor: pointer

		&.slick-active
			width: 13px
			height: 13px
			border: 2px solid $blue
			background-color: transparent

		button
			padding: 0

			&:before
				display: none



.work
	padding-top: 50px
	&-wrap
		background: url(../img/work-bg.png) no-repeat 0% 18%

	&-item
		margin-bottom: 100px
		text-align: center

		img
			display: block
			margin: 0 auto 10px

		.h4
			min-height: 60px
			margin-bottom: 10px
			display: flex
			align-items: center
			justify-content: center
			color: #000

		p
			min-height: 120px


.cost
	margin-top: -150px

	&-box
		width: 860px
		margin: 0 auto
		padding: 90px 60px 60px
		background: #FFFFFF
		border: 20px solid #C4D9FF
		text-align: center

		.h3
			margin-bottom: 20px
			color: #6BA0FF

		.h5
			margin-bottom: 55px

	.form-item
		max-width: 444px
		margin: 0 auto 45px

		.jq-selectbox
			max-width: 444px

		.tooltip
			top: -2px
			margin-left: 5px

			&-text
				bottom: 100%

	.btn
		margin-bottom: 20px
		padding-left: 20px
		padding-right: 20px
		border-radius: 2px

	p
		margin-bottom: 5px
		font-size: 18px
		line-height: 23px

	&-price
		margin-bottom: 20px
		font-size: 50px
		line-height: 120%
		text-align: center
		letter-spacing: 0.02em
		color: #6BA0FF

	.color-red
		margin-bottom: 15px

	.footnote
		margin-top: 50px
		font-weight: 300
		font-size: 14px
		line-height: 120%
		color: #A1A1A1

.get-demo
	font-size: 20px
	line-height: 23px
	letter-spacing: 0.02em
	color: #6BA0FF

.color-red
	color: $red

	a
		color: $red


.components
	padding-bottom: 180px
	overflow: hidden

	.h2
		margin-bottom: 120px

	&-block
		position: relative
		height: 420px
		background: #000B20

		&:before
			content: ''
			position: absolute
			left: -2000px
			height: 100%
			width: 2000px
			top: 0
			bottom: 0
			background: #000b20

		&:after
			content: ''
			position: absolute
			right: -2000px
			height: 100%
			width: 2000px
			top: 0
			bottom: 0
			background: #000b20


	&-item
		position: absolute

		&#admin-panel
			left: 0
			bottom: -160px
			z-index: 10

			>img
				max-width: 560px

		&#app-office
			left: 24%
			bottom: -40%

			>img
				max-width: 630px

		&#app-client
			left: 66%
			bottom: -33%

			>img
				max-width: 145px
				display: block
				margin-bottom: 30px

			.components-item__text
				bottom: -30px

		&#app-employee
			width: 250px
			left: 82%
			bottom: -33%

			>img
				max-width: 145px
				display: block
				margin: 0 auto 30px

			.components-item__text
				bottom: -30px

		&#app-passport
			width: 200px
			left: 75%
			bottom: 50%

			>img
				max-width: 80px
				display: block
				margin: 100px auto 0

			.components-item__text
				bottom: auto
				bottom: calc(100% + 30px)

				&:before
					top: 100%
					bottom: auto
					height: 140px

				&:after
					top: 160px

		&__text
			position: absolute
			bottom: 0
			left: 0
			right: 0
			text-align: center

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 100%
				margin: auto
				width: 1px
				height: 50px
				background: $blue

			&:after
				content: ''
				position: absolute
				left: 0
				right: 0
				top: -50px
				margin: auto
				width: 5px
				height: 5px
				border-radius: 50%
				background: $blue

			.tooltip
				text-align: left


























.form

	&-item
		margin-bottom: 20px
		text-align: left

		&__header
			margin-bottom: 10px
			color: #8E8E8E
			font-size: 18px
			line-height: 23px

		&__field
			height: 44px
			width: 100%
			padding: 0 20px
			background: #FFFFFF
			border: 1px solid #DADADA
			box-sizing: border-box
			border-radius: 2px
			font-size: 18px
			line-height: 23px
			color: #000

			&:focus
				border-color: #C4D9FF
				outline: none

	&-search
		display: flex
		align-items: center
		justify-content: space-between

		.form-item__field
			width: calc(100% - 135px)
			height: 60px
			line-height: 60px
			font-size: 20px
			color: #000
			padding-left: 20px
			background: #FFFFFF
			border: 5px solid #FFFFFF
			box-sizing: border-box
			box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1)
			border-radius: 2px
			outline: none

			&:hover
				opacity: 1

		.btn
			width: 135px
			font-size: 18px
			font-weight: bold

	&-btn
		padding-top: 20px
		margin-bottom: 30px
		text-align: center

		.btn
			padding: 19px 30px
			border-radius: 2px

	&-rating

		&__bottom
			display: flex
			justify-content: space-between
			align-items: center

			a
				font-size: 16px
				line-height: 18px
				color: #5D698D

		&__info
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 25px

			span
				color: #5D698D

		&__review
			margin-bottom: 25px
			text-align: left

			.h6
				margin-bottom: 8px

			textarea
				width: 100%
				height: 70px
				padding: 10px 15px
				border: 1px solid #DCDFF1
				border-radius: 5px
				font-size: 12px
				resize: none

				&:focus
					outline: none
					color: #000



.agree
	font-weight: 300
	font-size: 14px
	line-height: 120%
	text-align: center
	color: #A1A1A1

	a
		color: #A1A1A1
		text-decoration: underline

.jq-selectbox
	position: relative
	width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 8px 30px 8px 14px
		width: 100%
		border: 1px solid #DADADA
		font-size: 18px
		color: #000
		border-radius: 2px
		text-align: left


		&::after
			content: ''
			position: absolute
			right: 15px
			top: 11px
			width: 12px
			height: 12px
			border-bottom: 2px solid #6BA0FF
			border-left: 2px solid #6BA0FF
			transform: rotate(-45deg)
			transition: all .3s


	&.opened
		.jq-selectbox__select-text
			border-color: #333
			color: #000
			&::after
				transform: rotate(135deg)
				border-color: #000

	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 39px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			padding: 10px 0
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #F7F9FA
			border: 1px solid #000
			li
				padding: 10px 20px
				font-size: 14px
				line-height: 19px
				color: #000
				transition: all .3s

				&:hover
					background: #fff


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #F5F5F5


			&::-webkit-scrollbar
				width: 10px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #CCCCCC

.tooltip
	position: relative
	display: inline-block
	vertical-align: middle
	margin-left: 5px

	&-icon
		width: 21px
		height: 21px
		display: inline-block
		vertical-align: middle
		background: url(../img/question-ic.svg)

	&-close
		position: absolute
		right: -7px
		top: -6px
		padding: 0
		width: 16px
		height: 16px
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid $blue
		outline: none
		background-color: transparent
		font-size: 10px
		line-height: 10px
		background: #fff
		border-radius: 50%
		z-index: 10

		.icon
			&:before
				color: $blue
		

	&-text
		display: none
		position: absolute
		right: 0
		bottom: calc(100% + 10px)
		width: 320px
		padding: 10px
		border-radius: 3px
		background: #fff
		border: 1px solid $blue
		font-size: 12px
		line-height: 17px
		z-index: 100

		

		ul
			padding-left: 15px
			margin-bottom: 10px
			
			li
				font-size: 11px

		a
			color: $blue

		p
			font-size: 12px
			line-height: 14px
			







.modal
	display: none
	width: 800px
	margin: 0 auto
	padding: 70px 60px 60px
	background: #FFFFFF
	border: 20px solid #C4D9FF
	text-align: center

	&-body
		max-width: 500px
		margin: 0 auto

	.h3
		margin-bottom: 20px
		color: #6BA0FF

	.h5
		margin-bottom: 15px

	&-download
		border-color: #8DC26F

		.h3
			color: #000

	&-rating
		width: 100%
		max-width: 530px
		padding: 50px 25px 25px
		border: 0
		box-shadow: 0px 24px 27px -15px rgba(52, 87, 220, 0.131454)
		border-radius: 4px


		.h5
			font-weight: bold
			text-align: center

		.fancybox-button
			width: 30px
			height: 30px

	.btn-blue
		padding: 15px 15px

	&-smile
		width: 100%
		max-width: 400px



.radio-list
	display: flex
	flex-wrap: wrap
	list-style: none

	
	&__numbers
		margin-bottom: 10px

		li
			margin-right: 8px

			&:last-child
				margin-right: 0

		input
			display: none

			&+label
				display: inline-block
				width: 36px
				height: 36px
				display: flex
				align-items: center
				justify-content: center
				font-size: 16px
				line-height: 22px
				color: #202842
				border: 1px solid #DCDFF1
				border-radius: 2px
				cursor: pointer

			&:checked
				&+label
					background: #6BA0FF
					border-color: #6BA0FF
					color: #fff
					box-shadow: 0px 5px 10px -5px rgba(26, 43, 99, 0.7)


	&__smile
		margin-bottom: 30px
		justify-content: center

		li
			margin-right: 10px

			&:last-child
				margin-right: 0

		input
			display: none

			&+label
				display: inline-block
				width: 90px
				height: 90px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 2px
				cursor: pointer

			&:checked
				&+label
					box-shadow: 0px 5px 15px -5px rgba(148, 165, 228, 0.7)





.fancybox-slide--html .fancybox-close-small
	padding: 0
	right: 15px
	top: 15px

.fancybox-button svg path
	fill: #9B9B9B



.check-item
	display: inline-block
	margin-bottom: 10px

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0  0 0 39px
			cursor: pointer
			font-size: 18px
			line-height: 130%
			letter-spacing: 0.03em
			color: #fff

			&::before
				content: ''
				position: absolute
				left: 0
				top: -4px
				width: 29px
				height: 29px
				display: flex
				align-items: center
				justify-content: center
				background-color: #fff
				border-radius: 5px
				


		&:checked
			&+label
				&::before
					background-color: $blue
					background-image: url(../img/check-ic.svg)
					background-repeat: no-repeat
					background-position: center





.materials

	.check-item input[type=checkbox]:checked+label::before
		background-color: #8DC26F

	.practice-slider__item--overlay
		padding: 30px 0 30px


.check-documents
	padding: 15px 0
	background: #8DC26F

	&__wrap
		display: flex
		align-items: center
		justify-content: center

		span
			font-family: Ubuntu
			font-size: 22px
			line-height: 110%
			text-align: center
			letter-spacing: 0.01em
			color: #FFFFFF

		.btn
			margin-left: 120px
			color: #8DC26F




.subscription
	margin-bottom: 120px

	&-box
		padding: 40px 160px 50px
		background: #FFFFFF
		border: 20px solid #C4D9FF
		text-align: center

		.h2
			margin-bottom: 40px
			color: #6BA0FF

	&-form

		&__wrap
			position: relative
			display: flex
			align-items: center
			justify-content: space-between
			max-width: 660px
			margin: 0 auto 40px

			*::-webkit-input-placeholder 
				font-weight: 300
				font-size: 20px

			*:-moz-placeholder
				font-weight: 300
				font-size: 20px
			*::-moz-placeholder 
				font-weight: 300
				font-size: 20px
			*:-ms-input-placeholder 
				font-weight: 300
				font-size: 20px


			&:before
				content: ''
				position: absolute
				left: 21px
				top: 16px
				width: 38px
				height: 28.5px
				background: url(../img/envelope-ic.svg)


		&__field
			width: calc(100% - 135px)
			height: 60px
			line-height: 60px
			font-size: 20px
			color: #000
			padding-left: 80px
			background: #FFFFFF
			border: 5px solid #FFFFFF
			box-sizing: border-box
			box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1)
			border-radius: 2px
			outline: none

			&:hover
				opacity: 1

		.btn
			width: 135px
			font-size: 18px
			font-weight: bold

	.check-list
		margin-bottom: 50px


.check-list
	display: flex
	flex-wrap: wrap

	.check-item
		margin-right: 20px

		&:last-child
			margin-right: 0

		input[type=checkbox]+label
			color: #000

			&:before
				border: 1px solid #DFEAFF


.cookies
	background: #E5E5E5
	box-shadow: 0px 0px 18px rgba(117, 117, 117, 0.1)

	&-wrap
		display: flex
		align-items: center
		flex-wrap: wrap
		padding-top: 20px
		padding-bottom: 20px
		padding-left: 120px
		background-image: url(../img/cookies.png)
		background-repeat: no-repeat
		background-position: 0 center

		p
			width: calc(100% - 184px)
			padding-right: 40px
			letter-spacing: 0.03em
			color: #777777
			font-size: 18px

		.btn
			width: 184px
			padding: 14px 15px





.footer
	padding: 100px 0 120px
	background: #010B20
	color: #fff

	&-top
		display: flex
		justify-content: space-between
		align-items: flex-end
		margin-bottom: 100px

	&-subscription

		.h4
			margin-bottom: 15px
			font-size: 20px
			line-height: 20px
			color: #fff

		&__form
			position: relative
			max-width: 360px

			input
				width: 100%
				height: 44px
				padding: 0 40px 0 21px
				line-height: 44px
				background: #EEEEEE
				border: 1px solid #DADADA
				box-sizing: border-box
				border-radius: 2px
				outline: none
				color: #000

				&:hover
					opacity: 1

			button
				position: absolute
				right: 10px
				top: 15px
				padding: 0
				z-index: 10
				outline: none
				border: 0

	&-middle
		position: relative
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		max-width: 950px
		margin: 0 auto 0
		padding-bottom: 50px

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			margin: 0 auto
			width: 65%
			height: 1px
			background: #404040


	&-links
		list-style: none
		
		li
			font-size: 18px
			line-height: 29px
			color: #fff
			font-weight: 300

			a
				color: #fff

	&-contact
		list-style: none
		
		li
			position: relative
			font-size: 18px
			line-height: 29px
			color: #fff

			a
				color: #fff

		&__mail
			padding-left: 30px

			&:before
				content: "\e907"
				position: absolute
				left: 0
				top: 0
				font-family: icomoon
				font-size: 16px
				color: #fff

		&__tel
			padding-left: 30px

			&:before
				content: "\e90a"
				position: absolute
				left: 0
				top: 0
				font-family: icomoon
				font-size: 16px
				color: #fff

	&-app
		padding: 50px 0 0
		display: flex
		justify-content: space-between
		max-width: 950px
		margin: 0 auto

		&__item

			.h5
				margin-bottom: 15px
				color: #fff

		&__links
			display: flex

			>a
				margin: 0 12px

	&-logo
		padding-top: 60px
		display: flex

		span
			position: relative
			padding-left: 50px
			color: #fff
			font-size: 18px
			line-height: 18px

			&:before
				content: ''
				position: absolute
				left: 25px
				top: 0
				width: 1px
				height: 35px
				background: #929292



		&__wrap
			display: flex
			justify-content: center


	&-copyright
		padding-top: 60px
		text-align: center
		color: #fff
		font-size: 18px
		line-height: 18px

		a
			color: #fff













.soc-btn
	text-align: right

	.h4
		margin-bottom: 22px
		font-size: 20px
		line-height: 20px
		color: #fff

	ul
		list-style: none

		li
			display: inline-block
			margin-right: 20px

			&:last-child
				margin: 0



.slick-slide
	outline: none

.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	cursor: pointer
	z-index: 110

	&:hover
		opacity: 1

	&:focus
		outline: none
		opacity: 1
	span
		position: relative
		width: 100%
		display: block
		height: 3px
		margin-bottom: 5px
		background: #fff
		transition: all 300ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent !important
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)

.service-item___icon
	display: none





.inner

	.content
		min-height: calc(100vh - 1151px)


.tag-list
	margin-bottom: 35px

	li
		display: inline-block
		margin-right: 15px
		margin-bottom: 15px

		a
			display: block
			padding: 8px 15px
			color: #6BA0FF
			font-size: 18px
			line-height: 21px
			border: 1.5px solid #DFEAFF
			border-radius: 2px

			&:hover, &.active
				background: #6BA0FF
				color: #fff


.news

	&-wrap

		&.row
			margin-left: -10px
			margin-right: -10px

			[class^='col']
				padding-left: 10px
				padding-right: 10px

	&-item
		position: relative
		margin-bottom: 20px
		border-radius: 2px

		.check-item
			margin-top: 20px
			input[type=checkbox]:checked+label::before
				background-color: #8DC26F

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			padding: 80px 0 30px
			display: flex
			align-items: flex-end
			background: linear-gradient(360deg, #000B20 14.18%, rgba(0, 0, 0, 0) 100%)

		&__tag
			position: absolute
			left: 0
			top: 50px
			padding: 8px 20px
			font-size: 18px
			line-height: 18px
			color: #fff
			letter-spacing: 0.5px
			background: #ED1940
			border-radius: 2px 0px 0px 0px
			text-align: center


			&:hover
				color: #fff

		&__date
			position: absolute
			right: 0
			top: 10px
			padding: 5px 15px
			background: rgba(0,0,0,.1)
			font-size: 18px
			line-height: 20px
			color: #fff

		&__bottom
			padding: 0 30px
			text-align: center

			p
				margin-bottom: 20px
				font-family: Ubuntu
				font-weight: 500
				font-size: 30px
				line-height: 30px
				color: #fff
				text-align: left

		&__more
			width: 138px
			height: 46px
			display: inline-flex
			align-items: center
			justify-content: center
			font-weight: 500
			font-size: 20px
			line-height: 120%
			text-align: center
			letter-spacing: 0.04em
			color: #6BA0FF
			border-radius: 2px

			&:hover
				color: #6BA0FF
				opacity: 1
				background: #fff

		&__big

			.news-item__overlay
				align-items: flex-end
				flex-direction: row

			.news-item__bottom
				padding: 0 100px
				text-align: left

				p
					font-size: 50px
					line-height: 52px

			.news-item__tag
				padding: 20px 30px
				font-size: 27px
				letter-spacing: 0.764706px

		&__middle

			.news-item__bottom
				text-align: left
				p
					font-size: 35px
					line-height: 35px

	&-btn
		padding: 50px 0 0
		text-align: center

		.btn
			max-width: 214px
			width: 100%
			border-radius: 4px
			background: #6BA0FF
			box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1)


	.practice-slider__item--overlay
		align-items: flex-end
		flex-direction: inherit

	.practice-slider__item--bottom p
		font-size: 35px
		font-weight: normal
		line-height: 39px
				

article
	max-width: 960px
	margin: 0 auto

	>img
		display: block
		margin: 0 auto 20px

	h2
		margin-bottom: 20px
		font-size: 42px

	h3
		margin-bottom: 20px
		font-size: 30px
		font-family: Roboto

	p
		margin-bottom: 10px
		font-size: 20px
		line-height: 24px
		font-weight: 300

	ul
		margin-bottom: 20px
		li
			position: relative
			padding: 0 0 0 20px
			margin-bottom: 10px
			list-style: none
			font-size: 20px
			line-height: 24px

			&:before
				content: ''
				position: absolute
				left: 0
				top: 10px
				width: 5px
				height: 5px
				border-radius: 50%
				background: $blue

	ol
		margin-bottom: 20px
		list-style: none
		counter-reset: item

		li
			position: relative
			padding: 0 0 0 20px
			margin-bottom: 10px
			list-style: none
			font-size: 20px
			line-height: 24px
			counter-increment: item

			&:before
				content: counter(item) '.'
				position: absolute
				left: 0
				top: 0
				color: $blue


	table
		width: 100%
		margin-bottom: 30px
		border-collapse: collapse

		tr
			&:first-child
				td
					background: $blue
					color: #fff
					font-weight: 500
			td
				padding: 5px 10px
				border: 1px solid $blue



.banner
	position: relative
	&-wrap
		position: relative

		>img
			display: block
			margin: 0 auto
			height: 500px
			object-fit: cover

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		padding-top: 50px

		.container
			padding-left: 350px

		.h2
			margin-bottom: 48px
			color: #fff

		&__btn
			display: flex
			flex-wrap: wrap

			.btn
				padding: 18px 52px
				margin-right: 24px

				&:last-child
					margin-right: 0

		p
			margin-bottom: 20px
			font-size: 18px
			line-height: 130%
			color: #fff
	&-app
		position: relative
		display: block
		left: 85px
		margin: -150px auto 90px
		z-index: 1

.opportunity
	position: relative
	background: #fff

	&-menu
		position: absolute
		left: calc((100vw - 1264px) / 2)
		top: 0
		width: 280px
		min-height: 100vh
		padding: 56px 0
		z-index: 10
		background: #F0F5FF


		&__burger
			display: none
			background: transparent
			width: 30px
			border: none
			border-radius: 3px
			&:focus
				outline: none
			span
				position: relative
				width: 100%
				display: block
				height: 2px
				margin-bottom: 6px
				background: $blue
				transition: all 500ms ease-in-out
			> span:last-child
				margin-bottom: 0
			&.active span
				&:nth-of-type(1)
					top: 8px
					transform: rotate(45deg)
				&:nth-of-type(2)
					background-color: transparent
				&:nth-of-type(3)
					top: -8px
					transform: rotate(-45deg)


		&__top
			padding: 0 24px 40px
			background: #F0F5FF

			p
				padding-top: 15px
				font-family: Ubuntu
				font-size: 18px
				line-height: 128%

		ul
			padding-bottom: 20px
			list-style: none
			background: #F0F5FF

			li
				display: block
				margin-bottom: 12px
				font-size: 16px
				line-height: 18px
				font-family: Ubuntu

				a
					position: relative
					display: block
					padding: 9px 24px
					color: #333

					&:before
						content: ''
						position: absolute
						left: 0
						bottom: 0
						top: 0
						width: 8px
						height: 100%
						opacity: 0
						background: #366DD0
						transition: all .3s

					&:hover
						padding-left: 30px
						color: #366DD0
						opacity: 1

						&:before
							opacity: 1

					&.active
						background: #E2ECFF
						font-weight: bold
						color: #366DD0

						&:before
							content: ''
							position: absolute
							left: 0
							bottom: 0
							top: 0
							width: 4px
							height: 100%
							opacity: 1
							background: #366DD0


.airSticky_fixed
	background: #F0F5FF



.block

	&-icons
		margin-top: 56px
		margin-bottom: 56px

		&.row
			margin-left: -10px
			margin-right: -10px

			[class^="col"]
				padding-left: 10px
				padding-right: 10px

		&__item
			min-height: 162px
			padding: 24px
			margin-bottom: 20px
			border: 1px solid #E5E5E5
			border-radius: 4px

			.icon
				margin-bottom: 12px

			p

				font-size: 18px
				line-height: 130%
				letter-spacing: 0.02em
				color: #1F1F1F

			.btn
				margin-top: 12px
				padding: 18px 15px
				font-size: 18px
				font-weight: 500

		&+p
			margin-bottom: 48px
			font-size: 24px
			font-weight: 500
			line-height: 28px

	

.app-slider
	margin-bottom: 56px

.interesting
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
	padding: 28px 24px 28px 72px
	margin-bottom: 70px
	background: #FAFAFA
	border-radius: 2px

	&:before
		content: ''
		position: absolute
		top: 24px
		left: 24px
		width: 32px
		height: 32px
		background: url(../img/file-ic.svg)

	&-header
		font-size: 18px
		letter-spacing: 0.03em
		color: #000

	&-more
		position: relative
		display: inline-block
		padding-right: 20px
		color: $blue
		cursor: pointer

		&:before
			content: ''
			position: absolute
			right: 0
			top: 3px
			width: 7px
			height: 7px
			border-left: 1px solid #000
			border-bottom: 1px solid #000
			transform: rotate(-45deg)
			transition: all .3s

		&.active
			&:before
				transform: rotate(135deg)
				top: 6px

	&-body
		display: none
		padding: 24px 0 0
		border-radius: 0 0 2px 2px

		p
			margin-bottom: 10px
			font-size: 14px
	
	&+p
		margin-bottom: 48px
		font-family: Ubuntu
		font-size: 24px
		line-height: 28px


.blockquote

	&-check
		position: relative
		padding: 24px 24px 24px 72px
		margin-bottom: 56px
		
		&:before
			content: ''
			position: absolute
			left: 0
			top: 24px
			width: 48px
			height: 48px
			background: url(../img/check.svg)

		p
			font-size: 18px
			line-height: 130%
			letter-spacing: 0.02em
			color: #1F1F1F


.article

	&-links
		background: #F8F8FA

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			padding: 48px 0
			

		&__item
			display: flex
			align-items: center
			color: #000000

			span
				padding: 0 18px
				font-weight: 500
				font-size: 20px
				line-height: 24px
				letter-spacing: 0.02em

			&:hover
				color: #366DD0
				opacity: 1

				.icon
					opacity: .8
				


			&:last-child
				text-align: right


.blue-box
	padding: 72px 0
	background: $blue

	&__wrap
		display: flex
		align-items: center
		justify-content: space-between

		.h3
			font-size: 36px
			line-height: 40px
			color: #fff

.downloads
	padding: 52px 0 100px

	.h2
		margin-bottom: 60px

	.row
		margin-left: -10px
		margin-right: -10px

		[class^="col"]
			padding-left: 10px
			padding-right: 10px


		.practice-slider__item
			margin: 0

			img
				width: 100%

			&--overlay
				justify-content: flex-end

	.check-item input[type=checkbox]:checked+label::before
		background-color: #8DC26F


.top-slider
	position: relative
	top: 28px
	background: #fff
	.slick-arrow
		&:before
			font-size: 20px
			color: $blue
			font-family: icomoon
			transition: all .3s

	.slick-prev
		left: 0
		&:before
			content: "\e90b"
			opacity: 1

	.slick-next
		right: 0

		&:before
			content: "\e908"
			opacity: 1
			display: block


	&__text
		padding: 20px 50px
		

		.slick-slide
			text-align: center
			min-height: 32px
			align-items: center
			display: flex
			justify-content: center

			>a
				font-size: 16px
				line-height: 16px

				&:hover
					color: $red
					opacity: 1

				&.active
					color: $red


	&__icon
		padding: 15px 40px

		.slick-list
			padding-top: 10px
			padding-bottom: 10px

		&--item
			margin: 0 11px
			transition: all .6s

			&:hover
				transform: scale(1.1)

			a
				position: relative
				display: flex
				align-items: center
				justify-content: center
				flex-direction: column
				margin-left: 5px
				margin-right: 5px
				height: 160px
				background: #fff
				text-align: center
				color: #1F1F1F


				>span
					padding-top: 10px

				.icon
					width: auto
					height: auto
					background: transparent
					font-size: 52px
					line-height: 52px
					&:before
						color: $blue
						transition: all .3s

					&-users
						font-size: 40px

					&-diagram
						position: relative
						top: -2px
						font-size: 56px

				&:hover
					color: $blue
					opacity: 1



				&.active

					&:before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: 0
						height: 3px
						width: 100%
						background: $red

					.icon
						&:before
							color: $red





.bg-blue
	background: #F0F5FF

	.interesting
		margin-bottom: 0

	&+.section-opportunity
		padding-top: 70px



.procent
	margin-bottom: 56px

	&-item
		text-align: center

		&__val
			margin-bottom: 15px
			font-size: 50px
			line-height: 60px
			letter-spacing: 0.02em
			color: #5FB031

		&__name
			font-family: Ubuntu
			font-size: 18px
			line-height: 128%
			letter-spacing: 0.03em
			color: #1F1F1F

.number-list
	padding-bottom: 16px
	list-style: none
	counter-reset: counter
	column-count: 2
	column-gap: 10

	li
		position: relative
		padding-left: 60px
		min-height: 48px
		margin-bottom: 32px
		counter-increment: counter
		font-size: 18px
		line-height: 130%
		letter-spacing: 0.02em

		&:before
			content: counter(counter)
			position: absolute
			left: 0
			top: 0
			width: 48px
			height: 48px
			display: flex
			align-items: center
			justify-content: center
			color: #fff
			background: $red
			font-family: Ubuntu
			font-weight: bold
			font-size: 32px

	&__block
		column-count: auto

		li
			margin-bottom: 24px
			padding-left: 72px

			&:before
				width: 72px
				height: 100%
			

			>span
				display: inline-block
				padding: 24px
				background: #F0F5FF



.color-red
	color: $red

.color-black
	color: #000

.bg-pink
	background: #FFF0F0


.half
	margin-bottom: 56px
	&-icons
		display: flex
		flex-wrap: wrap

		&__item
			width: 50%
			height: 172px
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column

			img
				margin-bottom: 15px

	&-body
		background: #FAFAFA

		&__wrap
			display: flex
			flex-wrap: wrap
			border: 1px solid #E5E5E5
			border-top: 0

		&__item
			width: 50%
			display: flex
			padding: 24px
			align-items: center

			&:first-child
				border-right: 1px solid #E5E5E5

			ul
				list-style: none

				li
					position: relative
					padding: 0 0 0 22px
					margin-bottom: 20px
					font-size: 18px
					line-height: 130%
					letter-spacing: 0.02em
					color: #1F1F1F				

					&:last-child
						margin-bottom: 0

					&:before
						content: ''
						position: absolute
						left: 0
						top: 8px
						width: 6px
						height: 6px
						border-radius: 50%
						background: $blue


	&-middle
		padding: 20px
		text-align: center
		border: 1px solid #E5E5E5
		font-family: Ubuntu
		font-size: 18px
		line-height: 20px

		strong
			color: #366DD0


.text-center
	margin-bottom: 56px
	text-align: center
	font-family: Ubuntu
	font-size: 18px
	line-height: 128%
	text-align: center
	letter-spacing: 0.03em
	color: #000000

.underline
	text-decoration: underline















@media only screen and (max-width: 1900px)
	.news .practice-slider__item--bottom p
		font-size: 30px
		line-height: 34px

	.top-slider__text .slick-slide>a
		font-size: 15px




@media only screen and (max-width: 1365px)

	.container
		padding-left: 50px
		padding-right: 50px

	.header-banner__title
		font-size: 30px
		line-height: 35px

	.header-banner__list li
		font-size: 18px
		line-height: 25px

		&:before
			top: 10px

	.section
		padding: 70px 0 70px

		&-inner
			padding: 70px 0 0

	.pdf-text
		font-size: 20px

	.components
		padding-bottom: 180px

	.product .slick-next
		right: -30px

	.product .slick-prev
		left: -30px

	.product-slider__item--text
		padding-left: 50px

	.product
		padding-bottom: 0

	.business-item ul li
		max-width: none

	.work-wrap
		background: url(../img/work-bg.png) no-repeat 0 19%
		background-size: contain

	.work-item
		margin-bottom: 60px

	.footer-top
		max-width: 950px
		margin: 0 auto 60px

	.cost
		margin-top: -70px

	.components .h2
		margin-bottom: 110px

	.pdf
		margin-bottom: 70px

	
	.service-more .service-item__block--text
		.h4
			font-size: 18px
			line-height: 20px
	
	.service-item__block--more
		font-size: 18px

	.subscription-box
		padding: 40px 110px 50px

	.news

		&-item

			&__bottom

				p
					font-size: 24px
					line-height: 26px

			&__big
				.news-item__bottom 
					p
						font-size: 44px
						line-height: 48px

				.news-item__tag
					padding: 15px 25px
					font-size: 22px







@media only screen and (max-width: 1260px)
	
	.banner-overlay .container,
	.section-opportunity .container
		padding-left: 60px

	.opportunity-menu
		position: fixed
		top: calc(100vh / 2)
		left: 0
		transform: translateX(-280px)
		transition: all .3s
		background: #f0f5ff

		&__burger
			position: absolute
			left: calc(100% + 15px)
			top: 0
			display: block

		&.active
			top: 0
			left: 0
			transform: translateX(0)

			.airSticky
				display: block

			.opportunity-menu__burger
				left: auto
				right: 15px
				top: 20px

	.opportunity-menu__top
		img
			display: none


	.airSticky
		display: none

	.banner-app
		left: auto









@media only screen and (max-width: 1200px)
	.header-banner__img
		width: 73%
		right: -140px

	.header-banner
		padding: 50px 0 40px

	.work-wrap
		background: transparent

	.work-item
		margin-bottom: 30px

		p
			min-height: 0

	.cost
		margin-top: -60px

	.news .practice-slider__item--bottom p
		font-size: 24px
		line-height: 29px

	.subscription-box
		padding: 40px 50px

	.h2, h2
		font-size: 40px
		line-height: 50px

	.check-item
		margin-bottom: 15px

	.components
		background: #000B20

		.h2
			margin-bottom: 50px
			color: rgba(255, 255, 255, 0.92)

		.slick-dots
			bottom: -40px

	.components-block
		height: auto

	.components-item
		position: static

		img
			max-width: 250px
			margin: 0 auto 20px

		.components-item__text
			position: static
			color: #fff

			>span
				display: block
				margin-bottom: 10px
				font-family: Ubuntu;
				font-weight: bold
				font-size: 24px
				line-height: 111.9%
				text-align: center
				letter-spacing: 0.02em
				color: rgba(255, 255, 255, 0.92)

				br
					display: none

			.tooltip-text
				position: static
				display: block
				width: auto
				padding: 0
				font-size: 16px
				line-height: 21px
				color: #fff
				background: transparent
				border: none
				outline: none

				ul
					li
						font-size: 16px
						line-height: 21px
						font-weight: 300


			.tooltip-icon
				display: none

	.tooltip-close
		display: none

	.container
		padding-left: 15px
		padding-right: 15px

	.opportunities
		margin-bottom: 60px



	.news-item__big .news-item__bottom p
		font-size: 34px
		line-height: 40px

	.news-item__bottom p
		font-size: 20px
		line-height: 22px
















@media only screen and (max-width: 991px)

	.top-slider
		top: auto
	
	.main-menu
		display: none
		position: absolute
		left: 0
		top: 75px
		width: 100%
		min-height: 100vh
		padding: 20px
		transform: translateX(-400px)
		transition: all .3s
		background: #6ba0ff
		z-index: 100

		&.active
			display: block
			transform: translateX(0)

		li
			display: block

			a
				display: block
				padding: 10px 0
				font-size: 24px
				border-bottom: 1px solid

	.cost
		&-box
			width: auto




	.header-nav__right
		position: absolute
		right: 15px
		top: 32px

	.burger-menu
		display: block

	.header-nav__right ul li
		margin: 0 25px 0 0

	.header-banner__img
		width: auto
		position: static
		display: block
		margin: 0 auto 20px

		&+.btn
			display: block
			max-width: 280px
			margin: 0 auto

	.header-banner__wrap
		max-width: none

	.header-logo span
		display: none

	.materials .practice-slider__item--overlay
		padding: 15px 0 15px

	.practice-slider__item--bottom p
		font-size: 16px
		line-height: 18px

	.practice-slider__item--tag
		padding: 5px 15px
		font-size: 16px

	.inner

		.header
			padding-bottom: 0

	.article-links__item span
		font-size: 16px
	
	.blue-box
		padding: 30px 0
		&__wrap 
			.h3
				font-size: 24px
				line-height: 30px

	
	.number-list
		column-count: auto














@media only screen and (max-width: 767px)

	#service-slider-1

		.service-item__block
			min-height: 0

			>img
				display: none

		.service-item
			

			.row-flex
				display: block
			

		.service-item___icon
			display: inline-block
			vertical-align: middle
			padding-right: 30px
			opacity: 0.6

		.h4, h4
			font-size: 18px
			font-weight: 500

		.service-item__block--text
			position: static
			padding: 0

			p
				display: none
				padding: 0 20px 20px
				font-weight: normal

			&.active
				.service-item___icon
					opacity: 1

			.h4, h4
				padding: 20px
				margin-bottom: 0
				color: #000

				br
					display: none

	.section
		padding: 60px 0 60px

		.h2
			margin-bottom: 40px
			font-weight: bold

	.advantages
		background: #000B20

		.h2
			color: #fff

		&-item
			margin-bottom: 30px

			&__number
				width: 82px
				font-size: 56px

			&__text
				font-weight: 500
				font-size: 16px
				line-height: 18px
				color: #CECECE

				br
					display: none

		&-btn
			flex-direction: column
			margin-bottom: 10px

			.btn
				width: 100%
				margin-bottom: 10px

	.h2
		font-size: 28px
		line-height: 31px

	.pdf
		padding: 30px 20px
		display: block


		&-text
			width: 100%
			margin-bottom: 10px
			padding-left: 72px
			display: block
			font-weight: 400

		.btn
			margin-left: 72px
			width: auto


	.btn-white
		padding: 14px 30px
		font-size: 18px
		line-height: 21px

	.business
		padding-bottom: 40px
		background: transparent
		border: 10px solid #E4EEFF

		.h2
			color: #6BA0FF

		&-item

			&__icon
				display: none

			.h3
				margin-bottom: 15px
				font-size: 18px
				font-weight: bold
				line-height: 20px
				color: #000

			ul
				margin-bottom: 20px
				li
					color: #000

					&:before
						background: $blue
						top: 8px
						width: 5px
						height: 5px

	.integration
		&-item
			margin-bottom: 10px
			height: 100px

	.product
		margin-bottom: 0
		background: #010b20

		&:before, &:after
			display: none

		.slick-next
			right: 0
			top: 20%

		.slick-prev
			left: 0
			top: 20%

	.product-slider

		&__item

			&--img
				margin: 0 0 20px
				max-width: none

				img
					max-width: 200px	
					margin: 0 auto

			&--text
				padding: 0
				width: auto

				>img
					margin: 0 auto 14px

				.h3
					margin-bottom: 30px
					font-size: 28px
					text-align: center

				p
					font-size: 16px
					line-height: 19px

	.product-slider__item.slick-slide
		display: block

	.h3
		font-size: 24px
		line-height: 29px
		font-weight: bold

	.cost
		margin-top: 0

		&-box
			padding: 30px 20px
			border-width: 10px

			.h5
				margin-bottom: 25px

			p
				font-size: 16px
				line-height: 20px
				font-weight: bold

		.form-item
			margin-bottom: 25px

		&-price
			font-size: 40px
			line-height: 45px

		.footnote
			margin-top: 30px



	.h5, h5 
		font-size: 16px
		line-height: 19px

		br
			display: none

	.form

		&-item

			&__header
				margin-bottom: 5px
				font-size: 14px
				line-height: 16px
				color: #000

			&__field
				font-size: 16px
				padding: 0 15px

	.jq-selectbox .jq-selectbox__select-text
		font-size: 16px

	.check-documents

		&__wrap
			flex-direction: column

			span
				margin-bottom: 10px
				font-size: 20px

			.btn
				width: 165px
				margin: 0 auto

	.footer
		padding: 50px 0 50px

		&-top
			display: block
			text-align: center
			margin-bottom: 0

	.footer-subscription__form
		margin: 0 auto

	.footer-subscription
		margin-bottom: 30px
		.h4
			font-size: 14px
			line-height: 16px

	.soc-btn
		margin-bottom: 30px
		text-align: center

		.h4
			font-size: 18px
			font-weight: 500

		img
			max-height: 28px
	.footer-middle
		padding-bottom: 0
		&:before
			display: none
		>ul
			width: 50%
			margin-bottom: 20px

			li
				font-size: 14px
				line-height: 24px

	.footer-app
		padding: 20px 0 0

		&__item
			width: 48%

		.h5
			font-size: 12px
			line-height: 16px

		&__links
			display: block
			>a
				display: block
				margin: 0 0 10px

	.footer-logo
		padding-top: 30px

		img
			max-width: 124px

		span
			padding-left: 20px
			font-size: 10px
			line-height: 10px

			&:before
				display: none
			br
				display: none

	.footer-copyright
		padding-top: 30px
		font-size: 14px
		line-height: 16px

			

	.subscription-box
		padding: 30px 20px
		border-width: 10px

	.subscription-form

		&__wrap
			&:before
				display: none

			*::-webkit-input-placeholder 
				font-size: 14px

			*:-moz-placeholder
				font-size: 14px
			*::-moz-placeholder 
				font-size: 14px
			*:-ms-input-placeholder 
				font-size: 14px

		&__field
			width: calc(100% - 60px)
			height: 48px
			line-height: 48px
			padding: 0 20px
			font-size: 14px

		.btn
			width: 60px
			height: 48px
			background: url(../img/send-ic.svg)
			font-size: 0
			background-size: contain

	.check-item input[type=checkbox]+label
		text-align: left

	.cookies-wrap
		padding: 20px 0
		display: block
		background: transparent
		text-align: center

		p
			width: auto
			padding: 0 0 10px

	.subscription
		margin-bottom: 60px

	.news .practice-slider__item--bottom p
		font-size: 18px
		line-height: 22px

	.modal
		width: 90%
		padding: 30px 20px
		border-width: 10px

	.fancybox-slide--html .fancybox-close-small
		width: 30px
		height: 30px
		top: 3px
		right: 3px
	.form-btn 
		.btn
			padding: 14px 10px
			font-size: 16px
			width: 100%

	.service-item
		.row-flex
			display: block

	#service-slider-2
		.slick-slide
			img
				width: 100%

		.service-item__block
			padding-bottom: 20px

	.form-item__header
		position: relative

		.tooltip
			position: static

		.tooltip-text
			left: 0
			width: auto
			font-weight: normal

			p
				font-weight: normal
				font-size: 12px

	.section-inner
		padding: 40px 0 0

		h1, .h1
			margin-bottom: 30px


	article
		
		img
			display: block
			margin: 0 auto 15px

		p
			font-size: 16px


		h1, .h1
			font-size: 40px

		h2, .h2
			font-size: 30px

		h3, .h3
			font-size: 24px

		ul

			li
				font-size: 16px

		ol
			li
				font-size: 16px

				&:before
					font-size: 16px



	h1, .h1
		font-size: 40px
		line-height: normal

	
	.tag-list

		li
			margin-bottom: 5px
			margin-right: 5px
			a 
				padding: 3px 10px
				font-size: 12px
				line-height: 18px

	.news-item__bottom
		p
			font-size: 18px
			line-height: 20px

	.news-item__more
		height: 40px
		font-size: 16px

	.news-item__tag
		top: 30px
		padding: 6px 20px
		font-size: 14px
		line-height: 16px

	.news-item__big
		img
			height: 300px
			object-fit: cover

	

		.news-item__tag
			top: 30px
			padding: 6px 20px
			font-size: 14px
			line-height: 16px

		.news-item__bottom
			padding: 0 30px
			p
				font-size: 18px
				line-height: 20px

	.news-item__middle
		img
			height: 300px
			object-fit: cover

		.news-item__bottom p
				font-size: 18px
				line-height: 20px


	.radio-list__numbers li
		margin-bottom: 8px

	.article-links
		display: block
		text-align: center

		&__item
			margin-bottom: 20px
			justify-content: center

			&:last-child
				margin-bottom: 0

		&__wrap
			justify-content: center

	.blue-box__wrap
		flex-direction: column
	

	.downloads
		padding: 50px 0 60px
		.row .practice-slider__item
			margin-bottom: 20px

	.banner-overlay__btn
		justify-content: space-between
		.btn
			margin: 0 0 20px
			padding: 15px 30px


	.interesting
		flex-direction: column
		margin-bottom: 30px

		&:before
			top: 36px

		&-header
			margin-bottom: 10px


	.blockquote-check
		padding: 20px 20px 20px 46px
		margin-bottom: 30px

		&:before
			width: 30px
			height: 30px
			background-size: contain

		p
			font-size: 16px

	.article-links__item 
		span
			font-size: 14px
			line-height: 18px
			text-align: left

		&:last-child
			span
				text-align: right

	.icon-double-left
		width: 32px
		height: 32px
		background-size: contain

	.icon-double-right
		width: 32px
		height: 32px
		background-size: contain


	.banner-app
		margin: -100px auto 50px

	.banner-overlay
		p
			font-size: 16px

		.h2
			margin-bottom: 20px

	.procent-item
		margin-bottom: 20px

		&__val
			margin-bottom: 5px

	.section-opportunity.bg-blue
		padding: 50px 0

	.half

		&-body
			
			&__item
				width: 100%
				display: block
				padding: 0

				ul
					padding: 20px

					li
						br
							display: none

		&-icons

			&__item
				width: 100%
				display: flex !important


































@media only screen and (max-width: 479px)
	.header-banner__title
		font-size: 25px
		line-height: 28px

	.banner-wrap>img
		height: 450px


	.header-banner__list
		margin-bottom: 15px

		li
			font-size: 16px
			line-height: 21px

		&:before
			top: 9px

	.header-banner
		padding: 0 0 40px

	.header-banner__numbers
		justify-content: center
		margin-bottom: 10px

		&--item
			margin: 0 20px

	.btn 
		width: 100%

	.footer-middle>ul li
		font-size: 13px

	.practice-slider__item--bottom p
		font-size: 20px

	.form-search
		flex-direction: column

		.form-item__field
			width: 100%
			margin-bottom: 10px

		.btn
			width: 100%

	#service-slider-1 .h4, #service-slider-1 h4
		display: flex
		align-items: center
		font-size: 16px

	#service-slider-1 .service-item___icon
		padding-right: 20px
		max-width: 70px
	
	article table tr td
		padding: 3px 5px
		font-size: 12px
	
	.section-inner
		padding: 25px 0 0

		h1, .h1
			margin-bottom: 20px

	article


		h1, .h1
			font-size: 36px
			line-height: normal

		h2, .h2
			font-size: 28px
			line-height: normal

		h3, .h3
			font-size: 22px
			line-height: normal

	h1, .h1
		font-size: 34px

	.news-item
		img
			width: 100%

	.form-rating__bottom
		flex-direction: column

		>a
			margin-bottom: 15px

	.form-rating__info
		display: none

	.banner-overlay
		padding-top: 30px

		.h2
			margin-bottom: 20px

			br
				display: none

		p
			font-size: 13px

	.banner-app
		margin-bottom: 60px

	.section-opportunity 
		.h3
			font-size: 28px
			line-height: 32px

		.blue-box__wrap 
			.h3
				font-size: 20px
				line-height: 24px
				text-align: center

				br
					display: none



	.block-icons__item .btn
		font-size: 16px

	.block-icons
		margin: 30px 0

		&+p
			font-size: 18px
			line-height: 24px

	.downloads .h2
		margin-bottom: 30px


	.number-list li
		padding-left: 50px
		margin-bottom: 20px
		font-size: 16px
		&:before
			width: 36px
			height: 36px
			font-size: 24px

	
	.procent-item__val
		font-size: 40px
		line-height: 50px

	p
		br
			display: none

	.article-links__item
		width: 100%
		display: flex
		justify-content: space-between



@media only screen and (max-width: 350px)

	.banner-wrap>img
		height: 470px




















































// new style
.about
	padding-top: 75px
	background: #fff

	.h2
		font-size: 40px
		line-height: 50px
		font-weight: normal
		color: #000

	&-info
		max-width: 1054px
		margin: 0 auto 120px

		.h2
			margin-bottom: 10px

		p
			margin-bottom: 22px
			font-weight: 300
			font-size: 16px
			line-height: 24px

.mission
	
	.h2
		margin-bottom: 20px

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		font-weight: 300
		font-size: 16px

	&-text
		max-width: 432px

		p
			line-height: 24px

	&-quote
		position: relative
		width: 564px
		height: 331px
		display: flex
		justify-content: center
		padding: 50px 35px 57px
		background: url(../img/quote-bg.png) no-repeat
		background-size: cover

		

		.btn-arrow
			position: absolute
			right: 15px
			top: 38%
			filter: drop-shadow(0px 5px 19px rgba(237, 25, 64, 0.4))

	&-slider
		max-width: 100%

		&__item
			margin: 0 auto

			p
				margin: 0 auto
				max-width: 427px
				line-height: 24px


			
.btn-arrow
	width: 38px
	height: 38px
	display: inline-flex
	align-items: center
	justify-content: center
	outline: none
	border: 0
	padding: 0
	background: #ED1940
	border-radius: 50%

	&:hover
		opacity: 1
		background: #313033


.angle
	display: inline-block
	width: 10px
	height: 7px

	&-up
		background: url(../img/angle-up.svg) no-repeat

	&-down
		background: url(../img/angle-down.svg) no-repeat

	&-left
		height: 10px
		width: 7px
		background: url(../img/angle-left.svg) no-repeat

	&-right
		height: 10px
		width: 7px
		background: url(../img/angle-right.svg) no-repeat


.map
	&-company

		&__line
			height: 3px
			background: linear-gradient(270deg, #ED1940 -1.21%, rgba(237, 25, 64, 0) 103.26%)

		.h2
			margin-bottom: 30px

	
	&-slider
		position: relative
		top: -12px
		margin-left: -35px
		margin-right: -35px

		&__wrap
			margin-bottom: 100px

		&__item
			position: relative
			margin-left: 35px
			margin-right: 35px

			&:before
				content: ''
				position: absolute
				right: -22px
				bottom: 15%
				border: 8px solid transparent
				border-left: 16px solid #F6F6F6

		&__year
			position: relative
			padding-top: 30px
			margin-bottom: 20px
			text-align: center

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				margin: auto
				width: 20px
				height: 26px
				background: url(../img/place-ic.svg) no-repeat
	
			span
				font-family: Ubuntu
				font-weight: 500
				font-size: 22px
				line-height: 33px
				color: #000

		&__info
			padding: 22px
			background: #F6F6F6
			border-radius: 2px

			&--img
				width: 50px
				height: 50px
				display: flex
				align-items: center
				justify-content: center

			p
				font-weight: 300
				font-size: 16px
				line-height: 24px
				color: #696969


		&__btn
			text-align: center

			.btn-arrow
				margin-left: 10px
				margin-right: 10px

.partners
	padding: 28px 0 55px
	background: #F6F6F6
	.h2
		margin-bottom: 16px

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&-text
		max-width: 440px

		p
			margin-bottom: 40px
			font-size: 16px
			line-height: 24px
			font-weight: 300


	&-slider
		width: 590px
		margin-left: -10px
		margin-right: -10px

		&__item
			position: relative
			min-height: 284px
			margin-left: 10px
			margin-right: 10px
			background: #fff

			&--overlay
				opacity: 1
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				display: flex
				align-items: center
				justify-content: center
				padding: 10px
				background: #000B20
				z-index: 10
				transition: all .3s

			&--text
				padding: 25px 30px 18px

				p
					height: 196px
					margin-bottom: 12px
					font-weight: 300
					font-size: 16px
					line-height: 24px
					overflow: hidden

				>a
					position: relative
					display: inline-block
					padding-right: 18px
					color: $red
					font-size: 18px
					line-height: 27px
					&:before
						content: ''
						position: absolute
						right: 0
						top: 8px
						width: 12px
						height: 12px
						background: url(../img/arrow-right-red.svg)

			&:hover
				.partners-slider__item--overlay
					opacity: 0
					z-index: -1

		.slick-arrow
			width: 38px
			height: 38px
			outline: none
			border: 0
			padding: 0
			background: #ED1940
			border-radius: 50%

			&:hover
				opacity: 1
				background: #313033

			&:before
				display: none

		.slick-prev
			left: -45px
			background-image: url(../img/angle-left.svg)
			background-position: center
			background-repeat: no-repeat

			&:hover
				background-image: url(../img/angle-left.svg)
				background-position: center
				background-repeat: no-repeat

		.slick-next
			right: -45px
			background-image: url(../img/angle-right.svg)
			background-position: center
			background-repeat: no-repeat

			&:hover
				background-image: url(../img/angle-right.svg)
				background-position: center
				background-repeat: no-repeat

.team
	padding: 30px 0 50px
	margin-bottom: 120px
	background: #000B20

	.h2
		margin-bottom: 16px
		color: #fff

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&-text
		max-width: 600px

		p
			margin-bottom: 40px
			color: #fff
			font-weight: 300
			font-size: 16px
			line-height: 24px

	&-link
		position: relative
		display: inline-block
		padding-right: 18px
		color: $red
		font-size: 18px
		line-height: 27px
		&:before
			content: ''
			position: absolute
			right: 0
			top: 8px
			width: 12px
			height: 12px
			background: url(../img/arrow-right-red.svg)
			transition: all .3s

		&:hover, &:focus
			opacity: 1
			color: $red

			&:before
				right: -2px


	&-form
		max-width: 498px
		width: 100%
		padding: 47px 52px 60px
		background: #fff
	
		::-webkit-input-placeholder 
			font-weight: 300
			font-size: 16px
			line-height: 24px
			color: #696969


		.form

			&-item
				margin-bottom: 16px

				&__header
					margin-bottom: 6px
					color: #696969
					font-size: 14px
					font-weight: 300
					line-height: 21px

				&__field
					padding: 0 24px
					height: 54px
					line-height: 54px
					background: #F6F6F6
					border: 0

		.privacy
			padding: 20px 0 16px
			color: #696969
			font-size: 14px
			font-weight: 300
			line-height: 21px

		.btn
			height: 60px
			width: 100%
			display: flex
			align-items: center
			justify-content: center
			background: #E1E1E1
			border-radius: 2px
			outline: none
			border: none
			color: #fff
			font-size: 18px
			line-height: 20px
			letter-spacing: 0.04em

			&:hover, &:focus
				background: $red
				opacity: 1





.icon-plus
	display: inline-block
	width: 19px
	height: 19px
	background: url(../img/plus-ic.svg) no-repeat

.add-btn
	width: 62px
	height: 62px
	display: flex
	align-items: center
	justify-content: center
	background: #F6F6F6
	border-radius: 50%

.handling
	margin-bottom: 60px

	&-item
		position: relative
		height: 220px
		margin-bottom: 30px
		background: #FFFFFF
		border-radius: 2px
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11)
		border-bottom: 2px solid #ED1940

		&__img
			position: relative

		&__image

			img
				transition: all .3s

		&__icon
			position: absolute
			top: 10px
			right: 10px
			width: 36px
			height: 36px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			background: #fff
			z-index: 10

		&__info
			padding: 9px 18px
			transition: all .3s

			strong
				font-size: 16px
				line-height: 24px

			&--more
				display: none
				font-size: 14px
				line-height: 21px
				text-decoration-line: underline
				color: #6BA0FF

				&:hover
					opacity: 1
					color: #fff

		&__add
			height: 110px
			display: flex
			align-items: center
			justify-content: center

			&+.handling-item__info
				strong
					font-size: 15px



		&:not(.handling-item__plus):hover
			border: 0

			.handling
				&-item

					&__image
						img
							height: 220px
							width: 100%
							object-fit: cover


					&__info
						position: absolute
						left: 0
						right: 0
						top: 0
						bottom: 0
						padding-top: 50px
						background: rgba(0, 11, 32, 0.85)

						strong
							display: block
							height: 110px
							color: #fff

						&--more
							display: block

.success
	display: flex
	flex-wrap: wrap
	justify-content: space-between

	&-left
		max-width: 450px

	&-right
		position: relative
		max-width: 430px
		padding: 22px 25px
		background: #F6F6F6
		border-radius: 2px

		&:before
			content: ''
			position: absolute
			left: -45px
			bottom: 60%
			border: 20px solid transparent
			border-right: 30px solid #f6f6f6

		p
			margin-bottom: 0


	&-header
		margin-bottom: 7px
		font-size: 18px
		line-height: 23px
		text-transform: uppercase
		color: #ED1940

	&-list
		list-style: none

		li
			font-weight: 300
			font-size: 14px
			line-height: 21px

			&:before
				content: '—'
				display: inline-block
				padding-right: 3px
				vertical-align: middle
				font-weight: 300
				font-size: 14px
				line-height: 21px
				color: #ED1940

.reviews
	max-width: 1140px
	margin: 0 auto

	.h2
		margin-bottom: 26px

	&-slider
		margin-bottom: 100px

		&__item
			min-height: 574px
			padding: 50px 100px 50px 65px
			background: url(../img/reviews-bg.png) no-repeat
			background-size: cover

		&__wrap
			position: relative

		.h3
			margin-bottom: 30px
			font-size: 30px
			line-height: 34px

		&__btn
			position: absolute
			width: 38px
			right: 15px
			top: 0
			bottom: 0
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column

			.btn-arrow
				background: #313033

				&:first-child
					margin-bottom: 20px

				&:hover
					background: $red

		&__links
			list-style: none

			li

				a
					position: relative
					padding-right: 18px
					font-size: 16px
					line-height: 24px
					color: #6BA0FF

					&:before
						content: ''
						position: absolute
						right: 0
						top: 4px
						width: 12px
						height: 12px
						background: url(../img/arrow-right-blue.svg)
						transition: all .3s

	&-wrap
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&-text
		position: relative
		max-width: 630px
		height: 100%
		padding: 35px 30px 20px
		background: #FCFCFC
		border-radius: 14px

		&:before
			content: ''
			position: absolute
			left: -21px
			top: -8px
			width: 49px
			height: 35px
			background: url(../img/brackets.svg)

		p
			font-weight: 500
			font-size: 16px
			line-height: 24px
			color: #696969

		&__author
			margin-top: 30px
			padding-top: 18px
			border-top: 1px solid #696969
			text-align: right

			span
				display: block
				font-weight: 300
				font-size: 14px
				line-height: 21px


	&-info
		width: 230px

		&__item
			position: relative
			padding-bottom: 20px
			text-align: right

			&:first-child

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: 0
					height: 2px
					width: 100%
					background: linear-gradient(270deg,#ed1940 -1.21%, rgba(237,25,64,0) 103.26%)

			&:last-child
				padding-top: 30px
				padding-bottom: 0

		&__numbers
			font-size: 72px
			line-height: 76px
			font-weight: bold
			color: #ED1940
			font-family: Ubuntu
			text-align: right

			span
				display: inline-block

		&__angle
			font-size: 40px
			line-height: 76px
			vertical-align: middle

		&__time
			font-size: 40px
			line-height: 76px

		&__plus
			font-size: 40px
			line-height: 50px
			vertical-align: top

		&__text
			display: inline-block
			text-align: left
			height: 43px
			font-weight: 300
			font-size: 14px
			line-height: 21px



.features
	max-width: 1250px
	margin: 0 auto 110px

	.h2
		margin-bottom: 30px

	&-slider
		margin-left: -15px
		margin-right: -15px
		margin-bottom: 40px

		.slick-list
			padding-bottom: 8px

		&__btn
			text-align: center

			.btn-arrow
				margin: 0 10px
				background: #313033

				&:hover, &:focus
					background: #ED1940

	&-item
		margin-left: 15px
		margin-right: 15px
		border-radius: 2px
		transition: all .3s
			
		&:hover
			box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11)

			.features
				&-item
					&__img

						img
							transform: scale(1.05)
							filter: grayscale(0)

		
		&__img
			margin-bottom: 10px
			overflow: hidden

			img
				display: block
				border-radius: 2px
				transition: all .5s
				filter: grayscale(1)

		&__info
			padding: 0 20px 12px
			text-align: center

		&__header
			height: 50px
			display: flex
			align-items: flex-end
			padding-bottom: 5px
			overflow: hidden
			font-size: 18px
			text-align: left
			line-height: 23px
			text-transform: uppercase
			color: #000B20
			border-bottom: 1px solid #F6F6F6

			a
				color: #000B20

		&__list
			position: relative
			height: 110px
			overflow: hidden
			padding-top: 5px
			margin-bottom: 7px
			list-style: none
			text-align: left

			&:after
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: -2px
				width: 100%
				height: 22px
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.68) 52.6%, #FFFFFF 72.92%)
			
			li
				position: relative
				padding-left: 10px
				font-weight: 300
				font-size: 14px
				line-height: 21px
				color: #1F1F1F

				&:before
					content: ''
					position: absolute
					left: 0
					top: 8px
					width: 4px
					height: 4px
					border-radius: 50%
					background: $red

		&__more
			position: relative
			display: inline-block
			padding-right: 18px
			color: $red
			font-size: 18px
			line-height: 27px
			&:before
				content: ''
				position: absolute
				right: 0
				top: 8px
				width: 12px
				height: 12px
				background: url(../img/arrow-right-red.svg)
				transition: all .3s

			&:hover, &:focus
				opacity: 1
				color: $red

				&:before
					right: -2px
			

	

.information
	margin-bottom: 110px

	.h2
		margin-bottom: 30px

	&-slider
		margin-bottom: 40px
		margin-left: -15px
		margin-right: -15px

		&__btn
			text-align: center

			.btn-arrow
				margin: 0 10px
				background: #313033

				&:hover, &:focus
					background: #ED1940

	&-item
		display: flex !important
		flex-direction: row
		margin-left: 15px
		margin-right: 15px

		&__img
			width: 240px

		&__text
			width: calc(100% - 240px)
			padding: 20px 25px
			background: #F6F6F6

			p
				height: 160px
				overflow: hidden
				font-weight: 300
				font-size: 16px
				line-height: 24px

		&__tag
			display: inline-block
			margin-bottom: 25px
			padding: 9px 17px
			font-weight: 300
			font-size: 14px
			line-height: 21px
			background: rgba(255, 255, 255, 0.85)
			border-radius: 50px
			color: $red

		&__header
			margin-bottom: 15px
			font-size: 16px
			line-height: 24px
			text-transform: uppercase

		&__more
			position: relative
			display: inline-block
			padding-right: 18px
			color: $red
			font-size: 18px
			line-height: 27px
			&:before
				content: ''
				position: absolute
				right: 0
				top: 8px
				width: 12px
				height: 12px
				background: url(../img/arrow-right-red.svg)
				transition: all .3s

			&:hover, &:focus
				opacity: 1
				color: $red

				&:before
					right: -2px
		






@media only screen and (max-width: 1600px)
	.partners-slider 
		.slick-next
			right: -35px
		.slick-prev
			left: -35px





@media only screen and (max-width: 1199px)
	.partners
		text-align: center

		&-wrap
			display: block

		&-slider
			margin: 0 auto 0

		&-text
			margin: 0 auto 30px

	.mission-text
		max-width: 394px

	.team-text
		max-width: 440px

	.handling
		&.row
			display: flex
			flex-wrap: wrap
		&-item
			height: auto
			&__image

				img
					width: 100%
	.reviews-slider__item
		background: #F6F6F6

	.reviews-slider__links
		padding-top: 20px






@media only screen and (max-width: 1079px)
	.reviews-info
		width: auto
		display: flex
		flex-wrap: wrap
		padding-top: 30px

		&__item
			&:first-child
				padding-right: 30px
				&:before
					display: none

			&:last-child
				padding-top: 0






@media only screen and (max-width: 991px)
	.mission
		text-align: center
		&-wrap
			display: block
			

		&-text
			max-width: none
			margin-bottom: 30px

		&-quote
			margin: 0 auto

	.team
		text-align: center

		&-wrap
			display: block

		&-text
			max-width: none
			padding-bottom: 30px

		&-form
			margin: 0 auto

	.success
		display: block
		text-align: center

		&-left
			max-width: none
			margin-bottom: 40px

		&-right
			max-width: none

			&:before
				border-right: none
				border-bottom: 30px solid #f6f6f6
				left: 50%
				bottom: auto
				top: -42px








@media only screen and (max-width: 768px)
	.mission
		margin-bottom: 30px
		&-quote
			width: auto
			height: auto
			background: #F6F6F6

			.btn-arrow
				left: 0
				right: 0
				margin: auto
				top: auto
				bottom: 10px

	.partners
		&-slider
			width: auto
			padding-left: 45px
			padding-right: 45px

			.slick-prev
				left: 0

			.slick-next
				right: 0

	.about
		padding-top: 50px

		.h2
			text-align: center
			font-size: 32px
			line-height: 40px

		&-info
			margin-bottom: 70px

	.map-slider__wrap
		margin-bottom: 60px

	.team-form
		padding: 30px

	.reviews
		&-slider
			margin-bottom: 70px
	

		&-info
			justify-content: center


	.handling
		&.row
			display: block





@media only screen and (max-width: 550px)
	.reviews
		&-slider
			margin-bottom: 20px

			&__wrap
				margin-bottom: 70px

			&__item
				min-height: auto
				padding: 30px 20px

			&__btn
				position: static

			&__prev
				.angle-up
					width: 7px
					height: 10px
					background: url(../img/angle-left.svg) no-repeat

			&__next
				.angle-down
					width: 7px
					height: 10px
					background: url(../img/angle-right.svg) no-repeat

			.h3
				font-size: 24px
				line-height: 30px
				text-align: center

				br
					display: none
			&__btn
				width: auto
				text-align: center
				flex-direction: row

				.btn-arrow
					margin: 0 10px
					&:first-child
						margin-bottom: 0


		&-text
			&:before
				display: none

		&-info
			width: 100%	
			padding-top: 20px

			&__item
				text-align: center

			&__numbers
				text-align: center


	.information
		&-item
			flex-direction: column

			&__img
				width: auto

				img
					width: 100%

			&__text
				width: auto